
*.elf
*.hex
*.lst
*.map
*.bin
*.no_crc
*.dfu
SOC_Photon/src/local_config.h
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_module.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/newlib_stubs.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/module_info.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/newlib_stubs.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_export.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_module.o
SOC_Photon/dataReduction/debug.csv
*.csv
*.o
*.o
*.d
*.d
*.d
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_export.o.d
SOC_Photon/target/3.0.0-beta.1/photon/SOC_Photon.bin.crc_block
SOC_Photon/dataReduction/debugproto - Copy (3).xlsx
SOC_Photon/dataReduction/debugproto - Copy (4).xlsx
SOC_Photon/dataReduction/debugproto - Copy.xls
SOC_Photon/dataReduction/~$debugproto - Copy (3).xlsx
SOC_Photon/dataReduction/~$debugproto - Copy (4).xlsx
SOC_Photon/dataReduction/debugproto - Copy.xls
SOC_Photon/datasheets/~$BattleBorn.xlsx
SOC_Photon/Battery State/~$BattleBorn.xlsx
SOC_Photon/dataReduction/CoolTerm Capture 2021-08-14 04-02-05.txt
SOC_Photon/dataReduction/~$CoolTerm Capture 2021-08-14 04-02-05.xlsx
SOC_Photon/dataReduction/CoolTerm Capture 2021-08-14 04-02-05.txt
SOC_Photon/dataReduction/~$CoolTerm Capture 2021-08-26 04-54-37.xlsx
SOC_Photon/.vscode/settings.json
*.raw
*.log
*.pyc
SOC_Photon/datasheets/GP_battery.net
