
*.elf
*.hex
*.lst
*.map
*.bin
*.no_crc
*.dfu
SOC_Photon/src/local_config.h
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_module.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/newlib_stubs.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/module_info.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/newlib_stubs.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_export.o
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_module.o
*.o
*.d
SOC_Photon/target/3.0.0-beta.1/photon/obj/src/user_export.o.d
SOC_Photon/target/3.0.0-beta.1/photon/SOC_Photon.bin.crc_block
SOC_Photon/datasheets/~$BattleBorn.xlsx
SOC_Photon/Battery State/~$BattleBorn.xlsx
SOC_Photon/dataReduction/CoolTerm Capture 2021-08-14 04-02-05.txt
SOC_Photon/dataReduction/~$CoolTerm Capture 2021-08-14 04-02-05.xlsx
SOC_Photon/dataReduction/CoolTerm Capture 2021-08-14 04-02-05.txt
SOC_Photon/dataReduction/~$CoolTerm Capture 2021-08-26 04-54-37.xlsx
SOC_Photon/.vscode/settings.json
*.raw
*.log
*.pyc
SOC_Photon/datasheets/GP_battery.net
*.net
SOC_Photon/Battery State/EKF/sandbox/*.png
~*.xlsx
*.odp#
SOC_Photon/dataReduction/temp/*
*.crc_block
SOC_Photon/py/.idea/misc.xml
SOC_Photon/py/.idea/py.iml
*.ld
*.d
*.crc_block
eeprom_test/src/eeprom_test.cpp
SOC_Photon/src/SOC_Photon.cpp
SOC_Photon/src/SOC_Photon.cpp
*.odt#
SOC_Photon/src/SOC_Photon.cpp
SOC_Photon/src/SOC_Photon.cpp
SOC_Photon/src/SOC_Photon.cpp
SOC_Photon/.vscode/settings.json
SOC_Photon/src/SOC_Photon.cpp
SOC_Photon/src/SOC_Photon.cpp
SOC_Particle/src/local_config.h
SOC_Particle/src/SOC_Particle.cpp
SOC_Particle/src/local_config.h
SOC_Particle/src/SOC_Particle.cpp
SOC_Particle/src/local_config.h
SOC_Particle/py/TestSOC.bak
SOC_Particle/dataReduction/putty_test.csv
SOC_Particle/dataReduction/v20230305/temp
SOC_Particle/dataReduction/v20230403/temp
SOC_Particle/py/.DS_Store
SOC_Particle/dataReduction/putty/.DS_Store
SOC_Particle/.DS_Store
SOC_Particle/dataReduction/.DS_Store
SOC_Particle/py/.idea/misc.xml
SOC_Particle/py/.idea/misc.xml
SOC_Particle/py/.idea/py.iml
SOC_Particle/nul
SOC_Particle/src/SOC_Particle.cpp
*.ods#
SOC_Particle/py/logs.txt
SOC_Particle/py/logse.txt
SOC_Particle/py/MyTail.txt
SOC_Particle/py/putty_test.csv.tail
SOC_Particle/dataReduction/g20231111/ampHiFail_pro1a_bb.csv
SOC_Particle/src/SOC_Particle.cpp
